/* основной цвет фона - #fff 
основной цвет фона 2 - #2F303A
цвет жирного текста  - #212121
цвет не жирного текста - #757575
синий цвет - #2196F3
вес главного заголовка - 900.
вес текста в навигации, имен, фильтра в портфолио - 500.
вес основного текста - 400.
вес h2-h3 - 700
лого - font-family: 'Raleway' 700;
основной текст - font-family: 'Roboto' 400,500,700,900;*/

:root {
  --main-background-color: #fff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
}

body {
  font-family: "roboto";
  width: 1600px;
  padding: auto;
  color: var(--primary-text-color);
  margin: auto 215px;
}

/* h1 {
  color: #fff;
}
h2,
h3,
h4,
h5,
h5 {
  color: var(--title-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

header,
.navigation-list,
.contact-hd {
  display: inline-flex;
} */

/* шапка */

.logo {
  text-decoration: none;
  white-space: nowrap;
  padding: 25px 1240px 25px 215px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.logo-web {
  color: var(--accent-color);
}

.navigation-list {
  list-style: none;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-hd {
  list-style: none;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/* cap */

.cap {
  text-align: center;
  height: 600px;
  background-color: var(--secondary-background-color);
}
